@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font-awesome/css/font-awesome.css';

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;

}


/* Full sidebar */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;
    transition: width 0.3s ease;
}

/* Sidebar link styling */
.sidebar-link {
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.sidebar-link:hover {
    background-color: #ddd;
}

/* Icon styling */
.sidebar-link i {
    font-size: 20px;
    margin-right: 15px;
}

/* Text styling for links */
.sidebar-text {
    font-size: 17px;
    transition: opacity 0.3s;
}

/* Collapsed sidebar styles */
.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed .sidebar-text {
    opacity: 0;
}

.sidebar.collapsed .sidebar-link i {
    margin-right: 0;
}

.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.content.collapsed {
    margin-left: 60px;
}

.navbar {
    margin-left: 250px;
    transition: margin-left 0.3s;
}

.navbar.collapsed {
    margin-left: 60px;
}
